version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: buscadoc_user
      POSTGRES_PASSWORD: troceNTErAilESER
      POSTGRES_DB: buscadoc_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: buscadoc_backend
    restart: unless-stopped
    ports:
      - "3010:3010"
    volumes:
      - ./backend/.env:/app/.env
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://buscadoc_user:troceNTErAilESER@postgres:5432/buscadoc_db"
      NODE_ENV: production

  frontend:
    build: ./frontend
    container_name: buscadoc_frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/.env:/app/.env
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_BASE_URL: "http://backend:3010"

volumes:
  pgdata: