services:
  db:
    extends:
      file: ./backend/docker-compose.yml
      service: db
    networks:
      - test-network

  backend:
    extends:
      file: ./backend/docker-compose.yml
      service: app
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - test-network

  frontend:
    extends:
      file: ./frontend/docker-compose.yml
      service: app
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    networks:
      - test-network

networks:
  test-network:
    driver: bridge

volumes:
  postgres_data: