MSSQL_SA_PASSWORD=Change_This_Local_Password_123!
TEJAFLOW_DB_NAME=TejaFlow
TEJAFLOW_CONNECTION_STRING=Server=sqlserver,1433;Database=TejaFlow;User Id=sa;Password=Change_This_Local_Password_123!;TrustServerCertificate=True;Encrypt=True
JWT_ISSUER=TejaFlow
JWT_AUDIENCE=TejaFlowSpa
JWT_SIGNING_KEY=Change_This_JWT_Signing_Key_At_Least_32_Chars!
JWT_EXPIRATION_MINUTES=120
CORS_ALLOWED_ORIGIN=http://localhost:8080
TEJAFLOW_RUN_MIGRATIONS=true
