{
  "openapi": "3.0.3",
  "info": {
    "title": "Aura Planning API",
    "description": "REST API for Aura Planning - Digital Wedding Management SaaS Platform.\n\n## Authentication\nAura Planning uses passwordless authentication via magic links with JWT tokens stored in httpOnly cookies.\n\n### Flow\n1. **Request Magic Link**: `POST /api/auth/magic-link` → sends email with login link\n2. **Verify Token**: `GET /api/auth/verify?token={token}` → sets session JWT in `aura_session` cookie + CSRF token in `aura_csrf` cookie\n3. **Authenticated Requests**: All protected endpoints require the `aura_session` cookie\n4. **CSRF Protection**: State-changing requests (POST, PUT, PATCH, DELETE) require `X-CSRF-Token` header matching the `aura_csrf` cookie value\n5. **Session Refresh**: `POST /api/auth/refresh` renews JWT at 50% of lifetime\n6. **Logout**: `POST /api/auth/logout` blacklists current JWT and clears cookies\n\n### Cookie Details\n- `aura_session`: httpOnly, Secure, SameSite=Strict, 24h expiry\n- `aura_csrf`: readable by JavaScript, Secure, SameSite=Strict, 24h expiry\n\n## Rate Limits\n- Magic link: 3 per email/hour\n- RSVP: 5 per token/hour\n- Live messages: 20 per accomplice/hour\n- Global: 100 per IP/minute",
    "version": "1.0.0",
    "contact": {
      "name": "Aura Planning Support"
    }
  },
  "servers": [
    {
      "url": "https://api.aura.planning",
      "description": "Production"
    },
    {
      "url": "http://localhost:5001",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/auth/magic-link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request magic link for login",
        "description": "Sends email with magic link (15 min expiry). Rate limited to 3 per email/hour.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicLinkResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify magic token and return JWT",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valid token - returns session JWT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List current user events",
        "description": "Returns all events owned by the authenticated user.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get event details with statistics",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details with RSVP stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update event",
        "description": "Updates event fields. Re-geocodes venue if address changed.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete event",
        "description": "Soft deletes event and all associated data.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Event deleted"
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/guests/import": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Import guests from CSV",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file with guests"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "409": {
            "description": "Guest limit exceeded for draft events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/publish": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Initiate event publishing (creates Stripe PaymentIntent)",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PaymentIntent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          },
          "400": {
            "description": "Event not valid for publishing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/message-templates": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List message templates for event",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of message templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageTemplatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/message-templates/{id}": {
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update message template",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageTemplateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/live-messages": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get live message history for event",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live message history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveMessagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rsvp/{token}": {
      "get": {
        "tags": [
          "RSVP"
        ],
        "summary": "Get event/guest info for RSVP form",
        "description": "Public endpoint - no authentication required. Token is the plaintext invitation token.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event info and existing RSVP if any",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RsvpInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invalid invitation token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "RSVP"
        ],
        "summary": "Submit or update RSVP response",
        "description": "Public endpoint - no authentication required. Rate limited to 5 submissions per token/hour. Cannot submit if less than 7 days before event.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRsvpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RSVP saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RsvpConfirmationResponse"
                }
              }
            }
          },
          "403": {
            "description": "RSVP deadline has passed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/accomplices/{eventSlug}/grant": {
      "post": {
        "tags": [
          "Accomplices"
        ],
        "summary": "Grant accomplice access",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eventSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantAccessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accomplice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccompliceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists as accomplice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/accomplices/{eventSlug}": {
      "get": {
        "tags": [
          "Accomplices"
        ],
        "summary": "List event accomplices",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eventSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of accomplices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccomplicesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/accomplices/{eventSlug}/revoke": {
      "post": {
        "tags": [
          "Accomplices"
        ],
        "summary": "Revoke accomplice access",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eventSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accompliceId"
                ],
                "properties": {
                  "accompliceId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accomplices/{eventSlug}/resend": {
      "post": {
        "tags": [
          "Accomplices"
        ],
        "summary": "Resend magic link to accomplice",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eventSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accompliceId"
                ],
                "properties": {
                  "accompliceId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link resent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/accomplices/verify": {
      "get": {
        "tags": [
          "Accomplices"
        ],
        "summary": "Verify accomplice token and return JWT",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valid token - returns accomplice JWT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccompliceVerifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token invalid, expired, or revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/live/{accompliceToken}/send": {
      "post": {
        "tags": [
          "Live Messages"
        ],
        "summary": "Send live message via WhatsApp",
        "description": "Accomplice must have send_messages permission. Requires valid JWT in aura_session cookie + X-CSRF-Token header. Rate limited to 20 messages per accomplice per hour.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Event slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLiveMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message queued for delivery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveMessageSentResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permissions or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (20 msg/hour)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ]
      }
    },
    "/api/payments/webhook": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Stripe payment webhook",
        "description": "Handles payment_intent.succeeded and payment_intent.failed events",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health/live": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Kubernetes liveness probe",
        "description": "Returns 200 if API is running",
        "responses": {
          "200": {
            "description": "API healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Kubernetes readiness probe with dependency status",
        "description": "Checks PostgreSQL, Dragonfly, and MinIO connectivity",
        "responses": {
          "200": {
            "description": "API ready with healthy dependencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthReadyResponse"
                }
              }
            }
          },
          "503": {
            "description": "Dependencies unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthReadyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/profile": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Complete first-login profile setup",
        "description": "Sets user name, accepts terms, creates UserConsent records. Requires valid JWT from verify step.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSetupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile setup complete"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Silent JWT refresh",
        "description": "Renews JWT with fresh 24h expiry. Generates new CSRF token. Called automatically at 50% of JWT lifetime.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "JWT refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refreshed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout and revoke session",
        "description": "Blacklists current JWT in Dragonfly and clears aura_session + aura_csrf cookies.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "loggedOut": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current authenticated user info",
        "description": "Returns user details from JWT claims. Used to check authentication status on app init.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List available templates",
        "description": "Public endpoint. Returns all non-premium templates by default.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "wedding"
            }
          },
          {
            "name": "isPremium",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/dashboard": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get dashboard statistics",
        "description": "Returns RSVP stats, dietary restrictions, transport needs for event dashboard.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardStatsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/guests": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List event guests",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "family",
                "friends",
                "colleagues",
                "other"
              ]
            }
          },
          {
            "name": "inviteStatus",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guest list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{slug}/guests/export": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Export guests as CSV",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/accomplices/profile": {
      "post": {
        "tags": [
          "Accomplices"
        ],
        "summary": "Accomplice first-login profile setup",
        "description": "Sets accomplice name and accepts terms. Requires valid accomplice JWT.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSetupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile setup complete"
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/live/{slug}/history": {
      "get": {
        "tags": [
          "Live Messages"
        ],
        "summary": "Get live message history",
        "description": "Returns sent live messages for the event. Requires accomplice JWT.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveMessagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/{slug}/create": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create Stripe PaymentIntent",
        "description": "Initiates payment for event publishing. Returns client secret for Stripe Elements.",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PaymentIntent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/webhooks/whatsapp": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "WhatsApp webhook handler",
        "description": "Handles delivery status callbacks from Meta WhatsApp API. Verified via signature.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed"
          },
          "400": {
            "description": "Invalid signature"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "aura_session",
        "description": "Session JWT stored in httpOnly cookie. Set automatically on login/verify."
      },
      "csrfAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CSRF-Token",
        "description": "CSRF token. Read from aura_csrf cookie and sent as header on state-changing requests (POST, PUT, PATCH, DELETE)."
      }
    },
    "schemas": {
      "MagicLinkRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 320,
            "example": "user@example.com"
          }
        }
      },
      "MagicLinkResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Magic link sent. Check your email."
          }
        },
        "description": "Same response for new and existing users (anti-enumeration)."
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "isFirstLogin": {
                "type": "boolean"
              }
            }
          }
        },
        "description": "JWT is set in aura_session cookie (httpOnly). CSRF token set in aura_csrf cookie."
      },
      "CreateEventRequest": {
        "type": "object",
        "required": [
          "name",
          "coupleNames",
          "eventDate",
          "venueName",
          "venueAddress"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "example": "Maria and Miguel Wedding"
          },
          "templateId": {
            "type": "string",
            "format": "uuid"
          },
          "coupleNames": {
            "type": "string",
            "maxLength": 200,
            "example": "Maria & Miguel"
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-15T17:00:00Z"
          },
          "venueName": {
            "type": "string",
            "maxLength": 200,
            "example": "Hacienda El Roble"
          },
          "venueAddress": {
            "type": "string",
            "maxLength": 500,
            "example": "Camino Real 123, Madrid"
          },
          "primaryColor": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "example": "#7C9A72"
          },
          "secondaryColor": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "example": "#C9A96E"
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "completed",
              "archived"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "coupleNames": {
            "type": "string"
          },
          "eventDate": {
            "type": "string",
            "format": "date-time"
          },
          "venueName": {
            "type": "string"
          },
          "venueAddress": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalGuests": {
                "type": "integer"
              },
              "confirmed": {
                "type": "integer"
              },
              "declined": {
                "type": "integer"
              },
              "pending": {
                "type": "integer"
              },
              "dietaryRestrictions": {
                "type": "integer"
              },
              "needsTransport": {
                "type": "integer"
              },
              "plusOnes": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PublishRequest": {
        "type": "object",
        "required": [
          "tier"
        ],
        "properties": {
          "tier": {
            "type": "string",
            "enum": [
              "standard",
              "premium"
            ],
            "default": "standard",
            "description": "Pricing tier: standard (EUR 19) or premium (EUR 29)"
          }
        }
      },
      "PublishResponse": {
        "type": "object",
        "properties": {
          "clientSecret": {
            "type": "string",
            "description": "Stripe PaymentIntent client secret"
          },
          "paymentIntentId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          }
        }
      },
      "ImportResponse": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "integer"
          },
          "duplicates": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "MessageTemplatesResponse": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageTemplateResponse"
            }
          }
        }
      },
      "MessageTemplateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string",
            "example": "Bride Leaving"
          },
          "defaultMessage": {
            "type": "string",
            "example": "The bride is leaving the hotel!"
          },
          "icon": {
            "type": "string",
            "example": "bride"
          },
          "requiresSwipe": {
            "type": "boolean"
          }
        }
      },
      "UpdateMessageTemplateRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "maxLength": 100
          },
          "defaultMessage": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "LiveMessagesResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "templateLabel": {
                  "type": "string"
                },
                "customMessage": {
                  "type": "string"
                },
                "sentVia": {
                  "type": "string",
                  "enum": [
                    "email",
                    "whatsapp",
                    "both"
                  ]
                },
                "sentAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "deliveryStatus": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "queued",
                    "sent",
                    "delivered",
                    "failed"
                  ]
                }
              }
            }
          }
        }
      },
      "RsvpInfoResponse": {
        "type": "object",
        "properties": {
          "guestName": {
            "type": "string"
          },
          "eventName": {
            "type": "string"
          },
          "coupleNames": {
            "type": "string"
          },
          "eventDate": {
            "type": "string",
            "format": "date-time"
          },
          "venueName": {
            "type": "string"
          },
          "venueAddress": {
            "type": "string"
          },
          "deadlinePassed": {
            "type": "boolean"
          },
          "existingRsvp": {
            "type": "object",
            "nullable": true,
            "properties": {
              "attendance": {
                "type": "string",
                "enum": [
                  "yes",
                  "no",
                  "maybe"
                ]
              },
              "dietaryRestrictions": {
                "type": "string",
                "nullable": true
              },
              "needsTransport": {
                "type": "boolean"
              },
              "plusOne": {
                "type": "boolean"
              },
              "message": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "SubmitRsvpRequest": {
        "type": "object",
        "required": [
          "attendance"
        ],
        "properties": {
          "attendance": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "maybe"
            ]
          },
          "dietaryRestrictions": {
            "type": "string",
            "maxLength": 500,
            "nullable": true
          },
          "needsTransport": {
            "type": "boolean",
            "default": false
          },
          "plusOne": {
            "type": "boolean",
            "default": false
          },
          "message": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          }
        }
      },
      "RsvpConfirmationResponse": {
        "type": "object",
        "properties": {
          "confirmationId": {
            "type": "string",
            "format": "uuid"
          },
          "guestName": {
            "type": "string"
          },
          "eventName": {
            "type": "string"
          },
          "attendance": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "maybe"
            ]
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GrantAccessRequest": {
        "type": "object",
        "required": [
          "email",
          "permissions"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 320
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "send_messages",
                "view_rsvps"
              ]
            },
            "minItems": 1
          }
        }
      },
      "AccompliceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "grantedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccomplicesListResponse": {
        "type": "object",
        "properties": {
          "accomplices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "email": {
                  "type": "string"
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "grantedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "lastAccessedAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "isRevoked": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "AccompliceVerifyResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Session JWT for accomplice"
          },
          "accomplice": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string"
              },
              "eventId": {
                "type": "string",
                "format": "uuid"
              },
              "permissions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SendLiveMessageRequest": {
        "type": "object",
        "required": [
          "messageTemplateId"
        ],
        "properties": {
          "messageTemplateId": {
            "type": "string",
            "format": "uuid"
          },
          "customMessage": {
            "type": "string",
            "maxLength": 500,
            "nullable": true
          }
        }
      },
      "LiveMessageSentResponse": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "example": "pending"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HealthReadyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "unhealthy"
            ]
          },
          "dependencies": {
            "type": "object",
            "properties": {
              "postgresql": {
                "type": "string",
                "enum": [
                  "healthy",
                  "unhealthy"
                ]
              },
              "dragonfly": {
                "type": "string",
                "enum": [
                  "healthy",
                  "unhealthy"
                ]
              },
              "minio": {
                "type": "string",
                "enum": [
                  "healthy",
                  "unhealthy"
                ]
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Internal error code",
            "nullable": true
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "property": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ProfileSetupRequest": {
        "type": "object",
        "required": [
          "name",
          "acceptTerms"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 200,
            "example": "Maria Garcia"
          },
          "timezone": {
            "type": "string",
            "default": "Europe/Madrid",
            "example": "Europe/Madrid"
          },
          "locale": {
            "type": "string",
            "default": "es-ES",
            "example": "es-ES"
          },
          "acceptTerms": {
            "type": "boolean"
          },
          "acceptMarketing": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "host",
              "accomplice"
            ]
          },
          "status": {
            "type": "string"
          },
          "isFirstLogin": {
            "type": "boolean"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Present for accomplice role"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Present for accomplice role"
          }
        }
      },
      "UpdateEventRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200
          },
          "templateId": {
            "type": "string",
            "format": "uuid"
          },
          "coupleNames": {
            "type": "string",
            "maxLength": 200
          },
          "eventDate": {
            "type": "string",
            "format": "date-time"
          },
          "venueName": {
            "type": "string",
            "maxLength": 200
          },
          "venueAddress": {
            "type": "string",
            "maxLength": 500
          },
          "primaryColor": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$"
          },
          "secondaryColor": {
            "type": "string",
            "pattern": "^#[0-9A-Fa-f]{6}$"
          },
          "heroImageUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DashboardStatsResponse": {
        "type": "object",
        "properties": {
          "totalInvited": {
            "type": "integer"
          },
          "confirmed": {
            "type": "integer"
          },
          "declined": {
            "type": "integer"
          },
          "pending": {
            "type": "integer"
          },
          "maybe": {
            "type": "integer"
          },
          "dietaryRestrictions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "guestName": {
                  "type": "string"
                },
                "restrictions": {
                  "type": "string"
                }
              }
            }
          },
          "transportNeedsCount": {
            "type": "integer"
          },
          "plusOneCount": {
            "type": "integer"
          }
        }
      },
      "GuestsListResponse": {
        "type": "object",
        "properties": {
          "guests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "nullable": true
                },
                "phone": {
                  "type": "string",
                  "nullable": true
                },
                "category": {
                  "type": "string"
                },
                "inviteStatus": {
                  "type": "string"
                },
                "rsvpStatus": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "TemplatesListResponse": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "previewUrl": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "isPremium": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  }
}