.geo-catalog-container {
  .header {
    h1 {
      margin: 0;
    }
  }

  .breadcrumb {
    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  mat-card {
    mat-card-header {
      mat-card-title {
        margin: 0;
      }
    }
  }
}

